
<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    .btn:hover {
      background-color: #000000; /* 背景色を白に */
      color: #ffffff; /* テキスト色を黒に */
      border-color: #000000; /* ボーダー色を黒に */
    }

  .text-primary:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  }

  </style>
</head>

        <%# 左カラム %>
        <div class="col-sm-8 bg-light">
          <div class="card borded my-3">
            <div class="card-body">
              <div class="bg-info text-white">
                <p>情報I 一問一答トレーニング</p>
              </div>
            </div>
            <div class="card-body">
              <p><img src="../assets/images/qandatraining230504.png" alt="logo" class="img-fluid"></p>
            </div>
            <div class="applicationOutline mb-3">
              <div class="whatsApp mb-3 d-flex justify-content-center" id="whatsApp" style="text-align: start;">
                <button class="btn  btn-light">▼一問一答トレーニングとは▼</button>
              </div>
              <div id="applicationOutline" style="display: none;" class="card-body">
                <p class="small">このアプリケーションは高校「情報I」の基礎語句を身につけるための一問一答アプリです。教科書に掲載されている基礎用語300語と擬似言語のプログラミング問題の中から解説付きでランダムに出題するWeb問題集です。スキマ時間を活用して基礎問題演習に取り組めて、無料・PC/スマホ/タブレット対応です。試験対策としてご活用ください。</p>
              </div>
            </div>

            <%# 問題作成エリア %>
            <div class="my-2 mx-auto mt-5">
              <p class="small text-center">問題印刷機能を使用する場合は、<br>ウインドウをPCの最大サイズまで大きくしてください</p>
              <ul class="nav nav-tabs border-bottom-0 mb-3 justify-content-center ">
                  <li class="nav-item mr-1 d-inline-block">
                    <a href="#tab1" type="button" class="btn btn-outline-secondary btn-lg border rounded font-weight-normal mx-2" data-toggle="modal" id ="createQuestionButton">問題選択</a>
                  </li>
                  <li class="nav-item mr-1 d-inline-block  d-lg-inline d-none">
                    <a href="#tab2" type="button" class="btn btn-outline-secondary btn-lg border rounded font-weight-normal mx-2" data-toggle="tab" id ="printQuestionButton">問題印刷</a>
                  </li>
              </ul>
            </div>


  <%# <script src="../javascript/choose_top.js"></script> %>


      <%# <div class="field">
      <br />
        <%= form.collection_check_boxes(:genre_ids, Genre.all, :id, :name, checked: true) do |b| %>
        <%# <%= b.label { b.check_box + b.text } %>
        <%# <% end %>
      <%# </div> %>

      <%# <% @genres.each.with_index do |genre,i| %>
        <%# <label> %>
          <%# <%= check_box_tag 'Genre[genre_id][]', genre,false,id:"genre_id_#{i}",checked:true %> 
          <%# <%= genre %>
        <%# </label> %>
      <%# <% end %> 


        <%# <%= form.text_field :genre_id, readonly:true, value:"5",id:"genre_select",class: "button" %> 