<div class="contents row">
  <div class="question_id">
    <%= "問題 #{@question.id}"%>
    <p>解答</p>
  </div>

  <div class="question_text">
    <%# <%= @question.text%>
    <%= simple_format(@question.text) %> <%# 修正点: simple_formatで改行を処理 %>
  </div>
  <div class="answer">
    <%# <%= @answer.answer%> <%# 2個目のanswerはカラム名%>
    <%= simple_format(@answer.answer) %> <%# 修正点: simple_formatで改行を処理 %>
  </div>

  <% if @chosen_choice.is_answer == true %>
  <div class="correct">
    <p>◯</p>
  </div>
  <% elsif  @chosen_choice.is_answer == false %>
  <div class="correct">
    <p>✖️</p>
  </div>
  <% end %>
  <div class="choices">
      <h4>＜選択肢一覧＞</h4>
      <% @choices.each do |choice| %>
        <p>
          <%# 2個目のchoiceはカラム名%>
          <%# <%= choice.choice %>
          <%= simple_format(choice.choice) %> <%# 修正点: simple_formatで改行を処理 %>
        </p>
      <% end %>
  </div>
  <p><%= link_to '問題一覧へ戻る', root_path, method: :get %>

</div>
