<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>情報1一問一答トレーニングGYM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="K5bIfrGgv-W-LeE-WOwLZqXoO9-Q0RZlDhrmuYNaItg" />
    <meta name="description" content="高校「情報1」科の一問一答Webサイト・アプリケーションです。教科書に掲載されている基礎用語の暗記に最適です。共通テストレベルの問題まで対応していますので対策にピッタリです。"><!--サイトの説明文-->

    <meta property="og:image" content="<%= asset_path('iqatlogo2.jpg') %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= asset_path('iqatlogo2.jpg') %>">
    <!-- ファビコンを設定 -->
    <link rel="icon" type="image/png" href="<%= asset_path('favicon-96x96.png') %>">
    <style>
      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
      }
    </style>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3940443246012720"
      crossorigin="anonymous">
    </script>
  </head>

  <body>
    <header>
      <div class="container-fluid bg-dark text-white px-3"> 
        <p class="h2 text-white">
            <%= link_to root_path, method: :get do %>
            <%# <img src="assets/logo-training-gym.png" alt="logo" class="logo" style="height ; 10em; width: 25%;"> %>
            <%= image_tag 'logo-training-gym.png', class: 'logo-img' ,style: ' height: 2em; width: 10em;'%>
            <% end %>
        <%# <p><%= link_to(image_tag('images/qandAtraining230504.png', alt: "情報I 一問一答トレーニング"), "/", method: :get) %>
        </p>
      <h1 class="sr-only small mb-2">高校「情報1」科一問一答アプリ:トレーニングGYM</h1>
      <h2 class="sr-only small mb-2">高校「情報1」科、共通テスト「情報」科の一問一答Webサイト・アプリケーション「トレーニングGYM」です。</h2>
      </div>
    </header>
    <main class="bg-secondary">
      <div class="contents container-fluid mx-auto px-3">
        <div class="row">
          <%= yield %>

            <%# 右カラム %>
            <div class="col-sm-4 bg-light d-sm-block d-none rightSide">
              <div class="card borded my-3 bg-white"> 
                <div class="card-body">
                  <div class="text-white bg-secondary">
                    <p class="text-center">Infomation</p>
                  </div>
                  <div class="card corded">
                    <div class="card-body">
                      <p>令和7年度大学入学共通テストまで…</p>
                      <p class="text-center">あと　<span class="text-primary h4" id="countdownforRight"></span>　日</p>
                      <p class="small text-center">令和７年度試験実施期日<br>　令和７年１月18日（土）、19日（日）</p>
                    </div>
                  </div>
                  <div class="examInfo mt-5">
                    <p>■令和7年度の大学入学共通テストの情報はこちら▼</p>
                    <p class="text-center">
                      <a href="https://www.dnc.ac.jp/" target="_blank">
                      <%# <img src="assets/abm00000275.png" alt="大学入試センター" style="height ; 10em; width: 80%;"> %>
                      <%= image_tag 'abm00000275.png', class: '' ,style: 'height ; 10em; width: 80%;'%>

                      </a>
                    </p>
                  </div>
                  <div class="blogInfo1 mt-5">
                    <p>■大学入学共通テスト「情報」科対策はこちら▼</p>
                      <div class="text-center">
                        <a href="https://kotozeni.com/programming_sub_info_3111_summary_and_measures/" target="_blank">
                            <%= image_tag 'measures.jpg', class: '' ,style: 'height ; 10em; width: 80%;'%>
                        </a>
                      </div>
                  </div>
                  <div class="blogInfo2 mt-5">
                    <p>■情報I」オススメ参考書はこちら▼</p>
                      <div class="text-center">
                        <a href="https://kotozeni.com/programming_sub_info_4818_recommend_textbooks/" target="_blank">
                          <%= image_tag 'recommendTextbook.jpg', class: '' ,style: 'height ; 10em; width: 80%;'%>
                        </a>
                      </div>
                  </div>
                  <div class="blogInfo3 mt-5">
                    <p>■共通テスト「擬似言語」対応 プログラミング問題集はこちら▼</p>
                      <div class="text-center">
                        <a href="https://note.com/modern_knot259/n/n133d19a934c8" target="_blank">
                          <%= image_tag 'prrogrammingtextbookEyecatch.jpg', class: 'text-center' ,style: 'height ; 10em; width: 80%;'%>
                        </a>
                      </div>
                  </div>
                  <div class="blogInfo4 mt-5">
                      <div class="text-center">
                        <a href="https://twitter.com/kotozeni" target="_blank">
                          <%= image_tag 'iqat(x formerly tw).png', class: 'text-center' ,style: 'height ; 10em; width: 80%;'%>
                        </a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </main>
    <footer class="bg-primary border-top pt-2 footer">
      <div class="contact text-center">
        <p class="text-white"><%= link_to '利用規約・プライバシーポリシー', '/policy', method: :get ,class: "text-white"%></p>
        <p class="text-white"><%= link_to 'お問い合わせ', '/contacts', method: :get ,class: "text-white"%></p>
        <p class="text-white"><%= link_to 'リンク集', '/links', method: :get, class: "text-white" %></p>
      </div>
      <div class="bg-dark text-white py-3">
        <div class="text-center">
          <h6>©2025 kotozeni All Rights Reserved </h6>
        </div>
      </div>
    </footer>
  </body>
  
</html>
